Repository Teradata/covalent, pull requests merged in 2022-04, with the labels that each got.

#1918 docs(gh-pages): fix static asset path
  apps/docs-app/src/app/content/components/component-demos/markdown-navigator/demos/markdown-navigator-demo-children-url-start-at/markdown-navigator-demo-children-url-start-at.component.ts
  apps/docs-app/src/app/content/components/component-demos/markdown-navigator/demos/markdown-navigator-demo-children-url/markdown-navigator-demo-children-url.component.ts
  apps/docs-app/src/app/content/components/component-demos/markdown-navigator/demos/markdown-navigator-demo-service/markdown-navigator-demo-service.component.ts
Labels: docs

#1913 fix(code-editor): cleanup all disposables
  libs/angular-code-editor/src/lib/code-editor.component.ts
Labels: code-editor

#1921 fix(dynamic-forms): material input name overriding (#1895)
  libs/angular-dynamic-forms/src/lib/dynamic-elements/dynamic-input/dynamic-input.component.html
Labels: bug, changes requested
